.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    z-index: 1000;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    margin-right: 1rem;
}

.navText {
    text-decoration: none;
    color: black;
}