.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
}

.homeActionBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: rgb(54, 54, 54);
  gap: 2rem;
  padding: 30px;
  max-width: 80%;
  min-height: 85vh;
}

.homeActionBox img {
  max-width: 100%;
  margin: 0 auto;
}

.homeActionContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  padding: 1rem;
  min-height: 50vh;
}

.homeActionContent h1 {
  font-size: 3.3rem;
}

.homeActionContent p {
  color: rgb(134, 134, 134);
  font-size: 1.2rem;
}

.ctaContainer {
  border-radius: 20px;
  box-sizing: border-box;
  width: fit-content;
  margin-top: 50px;
  margin-right: auto;
}

.cta {
  font-size: 2.5rem;
  font-weight: 600;
  text-decoration-color: #1784f900;
  color: #1786f9;
  cursor: pointer;
  height: 100%;

  transition: text-decoration-color 0.2s ease;
}

.cta:hover {
  transition: text-decoration-color 0.3s ease;
  text-decoration-color: #1786f9;
}

.productContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
