.poContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin: 0;
  width: 100%;
  max-width: 1200px;
}

.poContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates three columns */
  gap: 50px;
  padding: 25px;
  width: 100%;
}
